*{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    margin:0px;
    padding:0px;
}
h2{
    font-size: 16px;
}

body{
    max-width: 1000px;
    margin:auto;
}

/* #header-left{
    float: left;
    padding-left: 5px;
} */

#header-right{
    float: right;
    padding-right: 10px;
}

main{
    clear:both;
}

section{
    max-width: 500px;
    margin: auto;
    text-align: center;
}

#top-section{
    padding-top: 50px;
}

#mid-section{
    padding-top: 10px;
    padding-bottom: 10px;
}

form{
    display: none;
}

#intro-text{
    margin:auto;
    max-width: 75%;
    font-size: 14px;
}
#bot-section{
    padding-bottom: 20px;
}

ul{
    display:inline;
    margin: 0px;
    padding: 0px;
}

li{
    display: none;
    width: fit-content;
    word-break: break-all;
    background-color: darkslateblue;
    color: white;
    border-radius: 3px;
    min-width: 25px;
    list-style-type: none;
    margin: 3px;
    padding: 4px;
    text-align: left;
}


#start-game:hover,
li:hover{
    background-color:rgb(136, 130, 175);
    border-color: rgb(136, 130, 175);
}

#start-game{
    background-color: darkslateblue;
    color: white;
    border-radius: 3px;
    padding: 4px;
    border-style: solid;
    border-color: darkslateblue;
}

#answer-text{
    display:none;
    text-align: left;
}